body {
  margin:0;
  font-family:"Noto Sans JP", sans-serif;
  color:#222;
  text-align:center;
  background:#fff;
}

　　.hero {
 　　 position: relative;
  　　height: 100vh;
　　　background:#1c1c1c;
　　}

    .hero-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
	　width:90%;
	  text-align:center;
    }

.hero-text h1 {
  font-size: 3em;
  margin:0;
  text-shadow:none;
}

.hero-text a {
  display:inline-block;
  margin:20px;
  padding:10px 20px;
  background:#c9a227;
  color:#000;
  text-decoration:none;
  font-weight:bold;
  border-radius:5px;
}

.hero-text h1 {
  margin:0 0 10px;
　font-family:"Noto Serif JP", serif;
}

.hero-text p {
  margin:0 0 25px;
  font-size:1.3em;
}

.hero-text h2 {
  margin:0 0 20px;
  font-size:1.2em;
}

.hero-text h3 {
  margin:0 0 25px;
}

.hero-text h1,
.hero-text p,
.hero-text h2,
.hero-text h3 {
  color:#222;
}


.markdown-body {
  color: #333;
}


.page-layout {
  display: flex;
  gap: 40px;
  max-width: 1000px;
  margin: 0 auto;
}

.side-nav {
  width: 120px;
  flex-shrink: 0;
}

.side-nav a {
  display: block;
  margin-bottom: 12px;
}

.page-layout main {
  flex: 1;
}
